*{
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.shape{
    height: 200px;
    width: 200px;
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    margin: 5px;
}
.parts{
  display: flex;
  
}